.git
.github
.gitignore
.pytest_cache
.ruff_cache
.mypy_cache
.coverage
.coverage.*
*.egg-info
build
dist
artifacts
logs
results
tmp
**/__pycache__
**/*.pyc
**/*.pyo
tests
.vscode
.pre-commit-config.yaml
Dockerfile
.dockerignore
README.md
assets
